html,body{
    width: 100%;
    background-color: #ad8de6;
    
}
.brand{
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 2%;
}
.title{
    text-align: center;
    color: #FFC107;
    font-size: 25px;
}
#commodity{
    font-size: 18px;
    padding: 20px 0;
}
.information{
    width: 80%;
    margin: 5% auto 0;
    color: #ffffff;
}
.information li{
    margin: 5px 0;
}
.botton{
    width: 100%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 5%;
    line-height: 25px;
}
.address{
    font-size: 15px;
}